<div class="control-group multi-text">
    <input type="text" class="newInput input-append" placeholder="{{str 'LBL_ADD'}}">
    <div class="btn-toolbar prevent-mousedown">
        <div class="btn-group">
            <a href="javascript:void(0)" class="btn addInput" rel="tooltip" title="{{str 'LBL_ADD'}}">
                <i class="sicon sicon-plus"></i>
            </a>
        </div>
    </div>
</div>