<div class="control-group multi-text">
    <input type="text" class="existingText" value="{{text}}">
    <div class="btn-toolbar prevent-mousedown">
        <div class="btn-group" data-toggle="buttons-checkbox">
            <button type="button" class="btn btn-edit removeInput" rel="tooltip" title="{{str " LBL_REMOVE"}}"
                aria-label="{{str " LBL_REMOVE"}}">
                <i class="sicon sicon-minus"></i>
            </button>
        </div>
    </div>
</div>